#no-mobile {
  position: absolute;
  z-index: 99;
  height: 100vh;
  width: 100vw;
  background-image: url("../../img/nomobile.jpg");
  background-color: var(--yellow);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  font-weight: 600;
  color: var(--yellow);
  top: 0;
}

@media screen and (max-width: 510px) {
  #no-mobile {
    display: none;
  }
}
